<main>

    <section id="banner" class="banner">
        <div class="box">
            <h1>
                <span class="title1">Seja bem vindo!</span>
                <span class="title2">Meu nome é Eliel, sou Desenvolvedor .NET | Angular em formação</span>
            </h1>
            <p class="paragraph">Conheça mais sobre mim, meus projetos e habilidades técnicas</p>

            <div class="buttons">
                <a href="#about"><i class="material-symbols-outlined" sentiment_very_satisfied>
                    </i>
                    Sobre mim
                </a>

                <a href="#skills"><i class="material-symbols-outlined" check_circle>
                    </i>
                    Habilidades
                </a>
            </div>
        </div>

    </section>

    <section id="about" class="container about">

        <div class="box">
            <div class="img">
                <img src="assets/imgs/eliel.jpg" alt="foto de perfil">
            </div>

            <div class="text">
                <h2>Sobre mim</h2>
                <h3>
                    Sou <b>estagiário de desenvolvimento Full Stack na Prefeitura de Vitória</b>, atuando na
                    <b>manutenção e
                        evolução de sistemas em produção</b> . No meu dia a dia, trabalho com <b>correção de bugs</b>,
                    ajustes em
                    funcionalidades existentes e suporte a aplicações utilizadas por usuários reais.
                </h3>

                <p>
                    Tenho experiência no <b>backend com ColdFusion e SQL Server,</b> criando e otimizando consultas,
                    além
                    de
                    realizar <b>integrações entre frontend e backend utilizando requisições AJAX</b>. No frontend,
                    utilizo
                    <b>HTML, CSS, Bootstrap e jQuery</b> para construção e manutenção de interfaces.
                </p>

                <p>
                    Minha atuação envolve lidar com <b>sistemas em produção</b>, o que exige <b>atenção,
                        responsabilidade e foco na
                        estabilidade</b>
                    das aplicações. Isso fortaleceu minha capacidade de entender regras de negócio e
                    resolver problemas de forma eficiente.
                </p>

                <p>
                    Atualmente, estou em transição para tecnologias modernas, com foco em <b>C#, .NET e Angular</b>,
                    buscando
                    evoluir no desenvolvimento de aplicações web mais robustas.
                </p>

                <p>Meu objetivo é conquistar uma oportunidade como <b>Desenvolvedor Júnior</b>, onde eu possa
                    <b>continuar
                        aprendendo, contribuir com projetos reais</b> e crescer profissionalmente na área de tecnologia.
                </p>
            </div>
        </div>
    </section>

    <section id="skills" class="container skills">

        <div class="box">
            <h2>Habilidades Técnicas</h2>
            <h3>Conheça as tecnologias e ferramentas que domino</h3>

            <div class="items">

                <div class="skill">

                    <i class="devicon-html5-plain colored"></i>
                    <h4>HTML:5</h4>
                </div>
                <div class="skill">

                    <i class="devicon-css3-plain colored"></i>
                    <h4>CSS:3</h4>
                </div>
                <div class="skill">

                    <i class="devicon-bootstrap-plain colored"></i>
                    <h4>Bootstrap</h4>
                </div>
                <div class="skill">

                    <i class="devicon-javascript-plain colored"></i>
                    <h4>JavaScript</h4>

                </div>

                <div class="skill">

                    <i class="devicon-jquery-plain colored"></i>
                    <h4>jQuery</h4>

                </div>

                <div class="skill">

                    <i class="devicon-csharp-plain colored"></i>
                    <h4>C#</h4>

                </div>

                <div class="skill">

                    <i class="devicon-dotnetcore-plain colored"></i>
                    <h4>.NET Core</h4>

                </div>

                <div class="skill">
                    
                    <i class="devicon-mysql-plain colored"></i>
                    <h4>MySQL</h4>

                </div>

                <div class="skill">

                    <i class="devicon-microsoftsqlserver-plain colored"></i>
                    <h4>Microsoft SQL Server</h4>

                </div>

                <div class="skill">

                    <i class="devicon-typescript-plain colored"></i>
                    <h4>TypeScript</h4>

                </div>

                <div class="skill">

                    <i class="devicon-angularjs-plain colored"></i>
                    <h4>Angular</h4>

                </div>

                <div class="skill">

                    <i class="devicon-gitlab-plain colored"></i>
                    <h4>Gitlab</h4>
                </div>


            </div>

        </div>


    </section>
</main>