<section id="banner" class="banner">
    <div class="box">
        <h1>
            <span class="title1">Seja bem vindo</span>
            <span class="title2">Meu nome é Eliel,sou Desenvolvedor .NET | Angular em formação</span>
        </h1>
        <p class="paragraph">Conheça mais sobre mim, meus projetos e habilidades técnicas</p>

        <div class="buttons">
            <a< i class="material-symbols-outlined">
                sentiment_very_satisfied
                </i>
                Sobre mim
            </a>

                <a <i class="material-symbols-outlined">
                    check_circle
                 </i>
                 >Habilidades
            </a>
        </div>
    </div>

</section>